<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214017462531-ku3n5cai2i3026mpvjd81gshp4nc9bik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214017462531-ku3n5cai2i3026mpvjd81gshp4nc9bik</string>
	<key>API_KEY</key>
	<string>AIzaSyBr2TUN7yJCdZseePt7vbjMrxJCV7aPqOU</string>
	<key>GCM_SENDER_ID</key>
	<string>214017462531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dopeChat</string>
	<key>PROJECT_ID</key>
	<string>dopechat-am</string>
	<key>STORAGE_BUCKET</key>
	<string>dopechat-am.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214017462531:ios:eb21e0f6ae51abd24dd936</string>
</dict>
</plist>